<section class="gray-bg section-padding" id="about-page">


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Pad + Wie & Wat</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="img1">

                       <img class="img-responsive" src="images\ab2.jpg" alt="team" />


        </div>
    </div>
    <div class="col-md-8 p1">
          <p>Ik ben Joachim Sohie, bio-landbouwer in spé. Met mijn CSA-boerderij Pad en Stoel kweek en verkoop ik ecologische paddenstoelen en zwammen in Antwerpen.</p> <br>
          <p>Steeds meer mensen kiezen immers voor een bewuste manier van eten. Ze gaan voor een vegetarisch of vleesarm dieet en biologische groenten. Voor die positieve invloed op ons lichaam én op de planeet, biedt Pad en Stoel het beste alternatief.</p> <br>
          <p>Zwammen en paddenstoelen hebben geen grond nodig om te kweken. De teelt wordt dus gewoon in leegstaande kelders in de stad opgezet. Zo kan een zeer beperkte oppervlakte toch een grote opbrengst opleveren.</p> <br>
          </p>
    </div>
</div>
</div>

<div class="container con2">
<div class="row">
    <div class="col-md-8 p2 kutija1">

  <p>Pad en Stoel is het perfecte voorbeeld van circulaire economie. Als grondstof gebruiken we reststromen uit de industrie, landbouw en horeca zoals houtzaagsel, koffiedik, papier, bierdraf, stro, enz. Deze worden na gebruik gecomposteerd en hergebruikt voor de teelt van groenten, bloemen en fruit. Er gaat dus niets verloren!</p> <br>
  <p>Voor de afzet werk ik via het CSA-model. Dat staat voor Community Supported Agriculture en is de meest ecologische, eerlijke en sociale manier van ondernemen. Als consument betaal je vooraf een jaarbijdrage aan mij, de landbouwer. In ruil ontwikkelen we een persoonlijke band en krijg je inzage achter de schermen van mijn bedrijf. Een win-winsituatie!</p> <br>

     </div>
     <div class="col-md-4 kutija2">
          <div class="img2">

                    <img class="img-responsive" src="images\ab1.jpg" alt="farm" />

          </div>
     </div>
 </div>
</div>



</div>

</section>
