
<section class="gray-bg section-padding" id="afhaal-page">


<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>Onze paddenstoelen en zwammen kan je afhalen op deze locaties</h2>
    </div>
  </div>
  </div>

<!-- <div class="container con3">
  <div class="row">
    <div class="col-md-6">

    <a href="https://place.guru/l/ecq6k0r-ueo89ky-3vri1xc/p/hbskxvm-xtff4wx-bkrhhbx"><h1>PAKT</h1></a>
    </div>

    <div class="col-md-6">
      <a href="https://regiform.be/contact/"><h1>REGIFORM</h1></a>

    </div>
</div>
</div> -->



<div class="container con1">
  <div class="row">
    <div class="col-md-6">

  <a href="https://place.guru/l/ecq6k0r-ueo89ky-3vri1xc/p/hbskxvm-xtff4wx-bkrhhbx"><h1>PAKT</h1></a>

  <div class="adres1">
    <h3>Regine Beerplein 1</h3>
    <h3>2018 Antwerpen</h3>
  </div>

        <div class="img1">
                       <a href="https://place.guru/l/ecq6k0r-ueo89ky-3vri1xc/p/hbskxvm-xtff4wx-bkrhhbx"><img class="img-responsive" src="images\pakt.png" alt="pakt_locatie" /></a>
        </div>




    </div>

    <div class="col-md-6">

  <a href="https://regiform.be/contact/"><h1>REGIFORM</h1></a>

  <div class="adres1">
    <h3>Sint-Rochusstraat 29</h3>
    <h3> 2100 Antwerpen</h3>
  </div>

        <div class="img1">
                       <a href="https://regiform.be/contact/"><img class="img-responsive" src="images\regiform.png" alt="regiform_locatie" /></a>
        </div>


    </div>


</div>
</div>

</section>
